# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output
*.out
*.log

# Dependency directories
vendor/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#build file
*.exe
tmr-bot

# Oh My OpenAgent (??? bro)
.omo/
